" Set leader key to space (Note: Leader key mappings are already defined)
let mapleader=" "

" -- Normal --
" Disable Space bar since it'll be used as the leader key
map <Space> <Nop>

" Save with leader key
map <Leader>w :w<CR>

" Quit with leader key
map <Leader>q :q<CR>

" Save and Quit with leader key
map <Leader>z :wq<CR>

map <Leader>f :action ReformatCode<CR>

" Center buffer while navigating
nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz
nnoremap { {zz
nnoremap } }zz
nnoremap N Nzz
nnoremap n nzz
nnoremap G Gzz
nnoremap gg ggzz
nnoremap gd gdzz
nnoremap <C-i> <C-i>zz
nnoremap <C-o> <C-o>zz
nnoremap % %zz
nnoremap * *zz
nnoremap # #zz

" Press 'H', 'L' to jump to start/end of a line (first/last char)
nnoremap L $
nnoremap H ^

" Press 'U' for redo
nnoremap U <C-r>

" Turn off highlighted results
map <Leader>no :noh<CR>

" Diagnostics
" Goto next diagnostic of any severity
nnoremap ]d :call VimNextDiagnostic()<CR>

" Goto previous diagnostic of any severity
nnoremap [d :call VimPrevDiagnostic()<CR>

" Goto next error diagnostic
nnoremap ]e :call VimNextError()<CR>

" Goto previous error diagnostic
nnoremap [e :call VimPrevError()<CR>

" Goto next warning diagnostic
nnoremap ]w :call VimNextWarning()<CR>

" Goto previous warning diagnostic
nnoremap [w :call VimPrevWarning()<CR>

" Open diagnostic under cursor
map <Leader>d :call VimDiagnosticUnderCursor()<CR>

" -- Insert --
" Map jj to <Esc>
inoremap jj <Esc>

" -- Visual --
" Disable Space bar since it'll be used as the leader key
vmap <Space> <Nop>

" Press 'H', 'L' to jump to start/end of a line (first/last char)
vmap L $h
vmap H ^

" Move text up and down
vmap <A-j> :m '>+1<CR>gv=gv
vmap <A-k> :m '<-2<CR>gv=gv

" Paste without losing the contents of the register
vmap <Leader>p "_dP

" Reselect the last visual selection and indent left
xnoremap << :normal! <<gv<CR>

" Reselect the last visual selection and indent right
xnoremap >> :normal! >>gv<CR>

set number
set relativenumber

" Disable showing the mode below the statusline
set noshowmode

" Set tabs to 2 spaces
set tabstop=2
set softtabstop=2
set expandtab

" Enable auto indenting and set it to spaces
set smartindent
set shiftwidth=2

" Enable smart indenting
set breakindent

" Enable incremental searching
set incsearch
set hlsearch

" Disable text wrap
set nowrap


" Better splitting
set splitbelow
set splitright

" Enable mouse mode
set mouse=a

" Enable ignorecase + smartcase for better searching
set ignorecase
set smartcase

" Decrease updatetime to 250ms
set updatetime=250

" Set completeopt for better completion experience
" IdeaVim does not have direct support for 'completeopt', so this may not fully apply.

" Enable persistent undo history
set undofile

" Enable 24-bit color
set termguicolors

" Enable the sign column to prevent the screen from jumping
set signcolumn=yes

" Enable access to System Clipboard
set clipboard=unnamed,unnamedplus

" Enable cursor line highlight
set cursorline

" Set fold settings
set foldlevel=99
set foldlevelstart=99
set foldenable
set foldcolumn=0
set foldnestmax=5
" foldtext cannot be mapped directly in IdeaVim.

" Always keep 8 lines above/below cursor unless at start/end of file
set scrolloff=8

" Place a column line at 80 characters
set colorcolumn=80

